<div th:fragment="navy">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:text="#{shop.name}">Appliances Shop</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/employee/clients}" th:text="#{clients.menu.name}">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/employee/manufacturers}" th:text="#{manufacturers.menu.name}">Manufacturers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/employee/appliances}" th:text="#{appliances.menu.name}">Appliances</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/employee/orders}" th:text="#{order.menu.name}">Orders</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto me-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="langDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            🌐 <span th:text="#{language.choose}">Language</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langDropdown">
                            <li>
                                <a class="dropdown-item" th:href="@{${requestURI}(lang='en')}">English 🇬🇧</a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{${requestURI}(lang='uk')}">Українська 🇺🇦</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item position-relative">
                        <form th:action="@{/logout}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-outline-light btn-sm px-3 py-1 logout-btn-with-icon">
                                <span class="icon logout-variant">🔓</span>
                                <span th:text="#{logout.button}" class="ms-4">Logout</span>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
